.show-items__article-wrapper {
  background-color: rgb(123, 182, 202);
  padding: 0.2em;
  border-radius: 0.1em;
}

.show-items__article,
.show-items__header {
  display: flex;
  gap: 1em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.show-items__article *,
.show-items__header * {
  padding: 0.1em 0.2em;
}

.show-items__article * {
  background-color: rgb(200, 221, 228);
}

.show-items__header {
  color: white;
}

.show-items__product {
  flex: 1 0 0;
}

.show-items__price {
  width: 5em;
  text-align: right;
}

.show-items__date {
  width: 10em;
  text-align: right;
}