.search-form__filter-sort {
  text-align: left;
}

.search-form__filter-selected {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}


@media screen and (max-width: 992px) {
  .search-form__filter-sort {
    text-align: center;
  }
}