.search-form__filter-wrapper {
  text-align: center;
}

.search-form__open-container {
  width: 100%;
}

.search-form__close,
.search-form__open {
  display: block;
  width: fit-content;
  margin: .5em auto 2em;
  padding: .5em 1em;
  cursor: pointer;
  background-color: rgb(123, 182, 202);
  border-radius: 4px;
}

.search-form__close:hover,
.search-form__close:active,
.search-form__open:hover,
.search-form__open:active {
  background-color: rgb(97, 170, 194);
}

.search-form__filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.search-form__filters-container > * {
  flex: 1 0 0;
  padding: 0.2em;
  border-radius: .2em;
  background-color: rgb(123, 182, 202);
}

@media screen and (max-width: 992px) {
  .search-form__filters-container > * {
    flex: 0 0 100%;
  }
}